<h2>Template Driven Login</h2>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

  <input type="email" name="email" [(ngModel)]="user.email" required email placeholder="Enter Email">
  <br><br>

  <input type="password" name="password" [(ngModel)]="user.password" required minlength="6" placeholder="Enter Password">
  <br><br>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>

</form>

<hr>

<h2>Reactive Login</h2>

<form [formGroup]="loginReactive" (ngSubmit)="onReactiveSubmit()">

  <input type="email" formControlName="email" placeholder="Enter Email">

  <div *ngIf="loginReactive.controls.email.touched && loginReactive.controls.email.invalid">
    Valid email required
  </div>

  <br><br>

  <input type="password" formControlName="password" placeholder="Enter Password">

  <div *ngIf="loginReactive.controls.password.touched && loginReactive.controls.password.invalid">
    Minimum 6 characters required
  </div>

  <br><br>

  <button type="submit" [disabled]="loginReactive.invalid">Login</button>

</form>
